{% extends 'blog/base_blog.html' %}
{% block content%}
<!-- about -->
  {% load static %}
  <section class = "about" id = "about">
    <div class = "container">
      <div class = "about-content">
        <div>
          <img src =" {% static 'images/me.png' %} " alt = ""/>
        </div>
        <div class = "about-text">
          <div class = "title">
            <h2>Asep</h2>
            <p>web design & devops</p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe eius ipsum nam provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit veritatis ut, illo deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta consectetur labore!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos quia recusandae voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea suscipit vero velit sed laudantium eaque necessitatibus maxime!</p>
        </div>
      </div>
    </div>
  </section>
<!-- end of about -->
{% endblock content%}